aiodns==1.1.1
aiohttp==2.3.6
aiohttp-graphql==1.0.0
async-timeout==2.0.0
cchardet==2.1.1
chardet==3.0.4
feedparser==5.2.1
freeze==1.0.10
graphql-core==2.0
graphql-server-core==1.0.dev20170322001
motor==1.1
multidict==3.3.2
promise==2.1
pycares==2.3.0
pymongo==3.6.0
pytest-runner==3.0
Rx==1.6.0
six==1.11.0
typing==3.6.2
uvloop==0.9.1
yarl==0.15.0
